
<form ng-controller="ForgotFormController" ng-submit="attemptLogin()" class="user-forgot">
  <h1>kodex.in</h1>
  <ol flash-messages="flash-messages"></ol>
  <div class="field">
    <label for="login-email" class="sr-only">e-mail</label>
    <input type="email" id="login-email" placeholder="e-mail" ng-model="email" ng-disabled="busy"/>
  </div>
  <div class="field">
    <button type="submit" mox-button="mox-button" loading="loading" ng-disabled="busy" class="wide"><span ng-hide="busy">send password reset</span><i ng-show="busy" class="fa fa-refresh fa-spin"></i></button>
    <p class="actions"><a href="/#/login">Remembered, by any chance?</a></p>
  </div>
</form>