
<form ng-controller="LoginFormController" class="user-login">
  <h1>kodex.in</h1>
  <ol flash-messages="flash-messages" context="loginForm"></ol>
  <div class="field">
    <ol class="form-errors">
      <li ng-repeat="error in errors.email">{{error}}</li>
    </ol>
    <label for="login-email" class="sr-only">e-mail</label>
    <input type="email" id="login-email" placeholder="e-mail" ng-model="email" ng-disabled="busy" tabindex="1" ng-class="{invalid:errors.email}"/>
  </div>
  <div class="field">
    <ol class="form-errors">
      <li ng-repeat="error in errors.password">{{error}}</li>
    </ol>
    <label for="login-password" class="sr-only">password</label>
    <input type="password" id="login-password" placeholder="password" ng-model="password" ng-disabled="busy" tabindex="2" ng-class="{invalid:errors.password}"/>
  </div>
  <div class="field">
    <button type="submit" ng-disabled="busy" tabindex="4" ng-click="login()" class="wide"><span ng-hide="busy">login</span><i ng-show="busy" class="fa fa-refresh fa-spin"></i></button>
    <p>
      <input type="checkbox" id="login-remember" ng-model="remember" tabindex="3"/>
      <label for="login-remember" class="clickable">Remember me</label>
    </p>
    <p class="actions"><a href="/#/register" tabindex="5" class="register">Register</a><a href="/#/forgot" tabindex="6" class="forgot">Forgot your password?</a></p>
  </div>
</form>